body{

    font-size: 16px;

}

/* Formatering av av linker*/

div{
 // border: solid 3px gray;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bg-img {
    background-image: url("../images/christian-wiediger-nSE1dxjNhyY-unsplash.jpg");

    min-height: 100vh;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;


}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
}

.logo {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
}

h4 a {
    text-decoration: none;
    color: #000000;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 16px;
}

.nav-links a:hover{
    color: #ff7e00;
}

.title {
    width: 100%;
    padding-top: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 10vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bg-img {
    background-image: url("../images/christian-wiediger-nSE1dxjNhyY-unsplash.jpg");

    min-height: 100vh;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;


}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
}

.logo {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
}

h4 a {
    text-decoration: none;
    color: #000000;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 16px;
}

.nav-links a:hover{
    color: #ff7e00;
}

.title {
    width: 100%;
    padding-top: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    color: #ff7e00;
    font-size: 5vh;
}

/* Formatering av fakta main*/

section{
    margin: 0 auto;
    // border: solid 3px crimson;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

}


.faktaColumn{
    //border: solid 3px blue;
    width: 60%;


}

.faktaImgColumn{
    //border: solid 3px blue;
    width: 40%;
    //background: blue;
    display: flex;
    justify-content: center;
    padding: 2em 0;


}

.faktaImg{
    //background: purple;
    margin-top: 8em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/faktaCrop_christian-wiediger-MAKEzgAQ6WU-unsplash.jpg");
    height: 1400px;
    width: 80%;
}



.faktaContainer{
    display: flex;
    justify-content: center;
    margin-top: 10em;
    //border: solid 3px green;

}

.fakta1{
    font-size: 3em;
    font-weight: bold;
    width: 45%;
    color: #ff7e00;
    border-right: #ff7e00 solid 3px;

    //border: solid 3px yellow;


}

.fakta2{
    width: 35%;
    font-size: 1.2em;
    padding-left: 1em;
    //border: solid 3px yellow;


}

/* Formatering av fakta Topp*/

.toppFaktaContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30%;

}

.toppFakta{
    border-right: white 3px solid;
    padding: 2em;
    text-align: center;
    text-decoration: none;


}


.toppFaktaTxt1{
    color: white;
    font-size:  1.5em;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 850px) {

    .faktaImgColumn{
        width: 0%;
    }

    .faktaImg{
        width: 0%;
    }

    section{
        justify-content: center;
    }

    .faktaColumn {
        width: 100%;
    }

    body{
        font-size: 15px;
    }






}

@media (max-width: 415px){
    .faktaImgColumn{
        width: 0%;
    }

    .faktaImg{
        width: 0%;
    }

    section{
        justify-content: center;
    }

    .faktaColumn {
        width: 100%;
    }

    body{
        font-size: 12px;
    }

    .fakta1{
        font-size: 2em;
    }



}






